@import "~normalize.css";

:global {
  html, body {
    height: 100%;
  }

  #root {
    height: 100%;
    overflow: hidden;
  }
}

.host {
  height: 100%;
  width: 100%;
  background-color: #444;
  font-family: Arial, serif;
  display: flex;
  justify-content: center;
  //align-items: center;
  flex-direction: column;
}
